:root {
    --color-primary: #29221D;
    --color-secondary: #1E1611;

    --color-background: #1E1B19;
    --color-dashboard: transparent;

    --color-brown: #473B33;
    --color-red: #FD0000;
    --color-red-light: #FE1E00;
    --color-orange: #FE6C00;
    --color-orange-light: #FFC397;
    --color-yellow: #FEC80A;
    --color-green: #00FE93;
    --color-light: #ffffff;
    --color-gray-100: #8A8587;
    --color-gray-60: #A8A5A6;
    --color-gray-30: #BDBABB;

    --font-family-main: 'Bai Jamjuree', sans-serif;
    --font-weight-regular: 400;
}
